<!DOCTYPE html>
<html class="cbioportal-frontend">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script>
        window.devContext = true;
        window.defaultRoute = "/home";
        // Set default API in case none is specified in .env
        window.frontendConfig = {
            // uncomment to enable Darwin internal MSKCC service patient view link
            // uses checkDarwinAccess.do service from cbioportal/cbioportal
            // enableDarwin : true,
            apiRoot: 'www.cbioportal.org/beta',
            showCivic : true,
            showHotspot : true,
            showMyCancerGenome : true,
            showOncoKB : true,
            oncoKBApiUrl : "oncokb.org/api/v1",
            showGenomeNexus : true,
            genomeNexusApiUrl : 'genomenexus.herokuapp.com',
            skinBlurb : 'The cBioPortal for Cancer Genomics provides <b>visualization</b>, <b>analysis</b> and <b>download</b> of large-scale cancer genomics data sets.  <p>Please adhere to <u><a href="http://cancergenome.nih.gov/abouttcga/policies/publicationguidelines"> the TCGA publication guidelines</a></u> when using TCGA data in your publications.</p> <p><b>Please cite</b> <a href="http://www.ncbi.nlm.nih.gov/pubmed/23550210">Gao et al. <i>Sci. Signal.</i> 2013</a> &amp;  <a href="http://cancerdiscovery.aacrjournals.org/content/2/5/401.abstract">Cerami et al. <i>Cancer Discov.</i> 2012</a> when publishing results based on cBioPortal.</p>',
            skinExampleStudyQueries : [
                'tcga',
                'tcga -provisional',
                'tcga -moratorium',
                'tcga OR icgc',
                '-"cell line"',
                'prostate mskcc',
                'esophageal OR stomach',
                'serous',
                'breast',
            ],
            skinDatasetHeader : 'The portal currently contains data from the following cancer genomics studies.  The table below lists the number of available samples per data type and tumor.',
            skinDatasetFooter : 'Data sets of TCGA studies were downloaded from Broad Firehose (http://gdac.broadinstitute.org) and updated monthly. In some studies, data sets were from the TCGA working groups directly.',
            skinRightNavShowDatasets : true,
            skinRightNavShowExamples : true,
            skinRightNavShowTestimonials : true,
            //labels to be displayed in oncoprint "Mutation color" menu for custom annotation of driver and passenger mutations in the oncoprint.
// Set any of these properties to enable the respective menu options in oncoprint:
            oncoprintCustomDriverAnnotationBinaryMenuLabel: "Custom driver annotation",
            oncoprintCustomDriverAnnotationTiersMenuLabel: "Custom driver tiers",
// set this to false to disable the automatic selection of the custom driver/passenger mutations annotation (binary) in the oncoprint when custom annotation data is present
            oncoprintCustomDriverAnnotationDefault: false,
// set this to false to disable the automatic selection of the custom tiers in the oncoprint when custom annotation data is present. By default this property is true.
            oncoprintCustomDriverTiersAnnotationDefault: false,
			overlappingStudies: {
				"blca_tcga","blca_tcga_pub","131",
				"brca_tcga","brca_tcga_pub","894",
				"brca_tcga","brca_tcga_pub2015","817",
				"brca_tcga_pub","brca_tcga_pub2015","749",
				"coadread_tcga","coadread_tcga_pub","585",
				"egc_msk_2017","msk_impact_2017","257",
				"esca_tcga","stes_tcga_pub","171",
				"escc_ucla_2014","es_iocurie_2014","137",
				"gbm_tcga","gbm_tcga_pub","585",
				"gbm_tcga","gbm_tcga_pub2013","584",
				"gbm_tcga","lgggbm_tcga_pub","606",
				"gbm_tcga_pub","gbm_tcga_pub2013","612",
				"gbm_tcga_pub","lgggbm_tcga_pub","585",
				"gbm_tcga_pub2013","lgggbm_tcga_pub","584",
				"gct_msk_2016","msk_impact_2017","159",
				"hnc_mskcc_2016","msk_impact_2017","150",
				"hnsc_tcga","hnsc_tcga_pub","356",
				"kich_tcga","kich_tcga_pub","96",
				"kirc_tcga","kirc_tcga_pub","502",
				"laml_tcga","laml_tcga_pub","200",
				"lgggbm_tcga_pub","lgg_tcga","516",
				"lihc_tcga","meso_tcga","63",
				"luad_broad","nsclc_tcga_broad_2016","142",
				"luad_tcga","luad_tcga_pub","230",
				"luad_tcga","nsclc_tcga_broad_2016","501",
				"luad_tcga_pub","nsclc_tcga_broad_2016","227",
				"lung_msk_2017","msk_impact_2017","853",
				"lusc_tcga","lusc_tcga_pub","346",
				"lusc_tcga","nsclc_tcga_broad_2016","484",
				"lusc_tcga_pub","nsclc_tcga_broad_2016","331",
				"msk_impact_2017","prad_mskcc_2017","448",
				"msk_impact_2017","thyroid_mskcc_2016","35",
				"ov_tcga","ov_tcga_pub","585",
				"prad_broad","prad_broad_2013","14",
				"prad_broad","prad_cpcg_2017","103",
				"prad_broad_2013","prad_cpcg_2017","41",
				"prad_cpcg_2017","prad_tcga","205",
				"prad_cpcg_2017","prad_tcga_pub","150",
				"prad_tcga","prad_tcga_pub","333",
				"sclc_clcgp","sclc_ucologne_2015","23",
				"skcm_broad","skcm_broad_dfarber","23",
				"stad_tcga","stad_tcga_pub","373",
				"stad_tcga","stes_tcga_pub","388",
				"stad_tcga_pub","stes_tcga_pub","323",
				"thca_tcga","thca_tcga_pub","507",
				"ucec_tcga","ucec_tcga_pub","500"
			}
        }
    </script>
    <script src="reactapp/common.bundle.js"></script>
    <link href="reactapp/prefixed-bootstrap.min.css" rel="stylesheet"></link>
</head>
<body class="cbioOnePageApp">
    <span id="reactHeader"></span>
    <div id="mutations_div_prototype"></div>
    <div id="clinical_div_prototype"></div>
    <div id="reactRoot"></div>
</body>
</html>
